{% for x in categories %}

<li>
<div class="float-left"><span class="a_category" id="category_{{categories[x].id}}" data-id="{{categories[x].id}}">{{categories[x].name}}</span> </div>
{% if categories[x].id > 1 %}
<div class="float-right">
<a href="#"  data-id="{{categories[x].id}}" class="edit_category"><span class="glyphicon" title="Edit category" align="right">&#xf044;</span></a>
<a href="#"  data-id="{{categories[x].id}}" class="delete_category"><span class="glyphicon" title="Delete category" align="right">&#xf00d;</span></a>
</div>
{% endif %}
</li>

{% endfor %}

