<li>
    <div class="float-left">
        <a href="#" id="openfeed_"><em>All feeds</em></a> 
    </div>
    <div class="float-right">
        <span class="badge bg-blue">{{ total_count }}</span>
        <span class="glyphicon invisible" title="Edit feed" align="right">&#xf044;</span>
        <a href="#"><span class="glyphicon" id='markread_allfeeds' title="Mark all feeds read" align="right">&#xf00c;</span></a>
        <span class="glyphicon invisible" title="Delete feed" align="right">&#xf00d;</span>
    </div>
</li>

{% for x in categories %}
<li>

<div class="float-left">
    <span class="category category_selector category_selector_{{x}}" data-id="{{x}}">
        <span class="cat_plus hidden"><i class="far fa-plus-square"></i></span>
        <span class="cat_minus"><i class="far fa-minus-square "></i></span>
    </span>
    <a href="#"><span class="category" id="opencat_{{x}}"> &nbsp;{{categories[x].name}}</span></a>
</div>
<div class="float-right">
        <span class="badge bg-blue">{{categories[x].count}}</span>
        <span class="glyphicon invisible" title="Edit feed" align="right">&#xf044;</span>
        <a href="#"><span class="glyphicon" id='markcat_{{x}}' title="Mark category read" align="right">&#xf00c;</span></a>
        <span class="glyphicon invisible" title="Delete feed" align="right">&#xf00d;</span>
</div>
</li>
<li class="category_toggle_{{x}}">
{% for f in feeds[x] %}
<li class="category_toggle_{{x}}"><div class="float-left">&nbsp;
        <a href="#"><span id="openfeed_{{f.id}}" {%if f.err > 0 %} class="text-danger" title="Feed could not be read correctly" {% endif%} >{{f.name}}</span></a>
    </div>
    <div class="float-right">
        <span class="badge bg-blue">{{ f.cnt }}</span>
        <a href="#" id="editfeed_{{f.id}}"><span class="glyphicon" title="Edit feed" align="right">&#xf044;</span></a>
        <a href="#" id="markfeed_{{f.id}}"><span class="glyphicon" title="Mark feed read" align="right">&#xf00c;</span></a>
        <a href="#" id="delfeed_{{f.id}}"><span class="glyphicon" title="Delete feed" align="right">&#xf00d;</span></a>
    </div>
</li>
{% endfor %}
</li>
{% endfor %}

<li><div class="float-left">&nbsp;</div><div class="float-right">&nbsp; </div> </li>

