{%if data|length > 0 %}

{% for d in data %}
<tr>
    <td>
        <span class="badge" style="background-color: {{d.tag_colour}}" title="{{d.feedname}}">{{ d.tag }}</span>
        </td>
        <td>
    <div>
        <a class="itemlink {% if d.markedread == 0 %}bold{% endif %} " href="#" data-url="{{d.link}}" title="{{d.link}}" data-id="{{d.id}}" {% if d.markedread == 0 %}class="bold"{% endif %} >{{d.name}}</a>
        <p style="float:right; display:inline" class="font-italic text-sm-right smallest_font">{{ d.publish_date }}</p>
    </div>
    <div class="smaller_font hidden">{{d.summary|striptags}}</div>
</td></tr>
{% endfor %}
    {% elif append == 0 %}
<tr>
<td> No items found </td></tr>
{% endif %}
