<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>RSS Reader</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<style> {# included here because relative path #}
@font-face {
    font-family: "My Custom Font";
    src: url("{{ request.script_root }}/static/fonts/fontawesome-webfont.ttf") format("truetype");
}
</style>
</head>

<body class="text-white bg-dark">

<script type="text/javascript">
var last_item = 0;
var current_feed = "{{feedid}}";
var item_count = {{ item_count }} 
var item_ids = [];
var current_cat = 0;
</script>

<nav class="navbar navbar-fixed-top">
    <div>
        <!-- Button trigger modal -->
        <button type="button" id="hidefeeds" class="btn btn-secondary btn-sm"><span class="left_menu"><i class="fas fa-angle-double-left"></i></span><span class="right_menu hidden"><i class="fas fa-angle-double-right"></i></span></button>
        <button type="button" class="btn btn-secondary btn-sm" id="addfeedbutton">Add Feed</button>
        <button type="button" id="uploadopml" class="btn btn-secondary btn-sm">Import OPML</button>
        <button type="button" id="exportopml" class="btn btn-secondary btn-sm">Export OPML</button>
        <button type="button" id="editcategory" class="btn btn-secondary btn-sm">Categories</button>
        &nbsp; &nbsp;
        <button type="button" id="markread" class="btn btn-secondary btn-sm">Mark read</button>
    </div>
    <div class="navbar-right">
    <div class="input-group input-group-sm">
        <span class="input-group-addon bg-dark text-light border-darkish"><input type="checkbox"class="bg-dark" id="readitems"></span><span class="input-group-addon bg-dark text-light border-darkish"><label for="readitems">Include read articles</label>&nbsp;&nbsp;</span>
        <input id="searchbar" class="form-control bg-dark border-darkish"  type="text" placeholder="Search">
         <span class="input-group-btn border-darkish">
        <button type="button" id="searchbutton" class="btn btn-secondary btn-sm border-darkish">Search</button></span>
    </div>
    </div>
</nav>

<div id="maindiv" class="container-fluid max-height no-overflow">
    <div class="row max-height">
        <div class="col-3 scrollable bottom_margin" id="feed_list_bar">
            <ul class="list-unstyled components" id="feed_list_ul">
            </ul>
        </div>
        <div class="col scrollable bottom_margin" id="itemstablediv">
            <table class="table table-condensed table-sm table-hover" id="itemstable" cellpadding="0" cellspacing="0">
            <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="upload_modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-primary">
      <div class="modal-header">
        <h5 class="modal-title">Import OPML file</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark">
      <form id="upload_opml_form" method="post" enctype="multipart/form-data">
        <p>
        <label for="filename">Filename</label><br>
        <input type="file" name='filename' id="opml_filename">
        </p>
        </form>
      </div>
      <div class="modal-footer bg-dark ">
        <button type="button" class="btn btn-light btn-sm" id="proceed_button">Proceed</button>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="delete_modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-danger">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-dark">
        Delete feed: <strong><span id="feedname_delete"></span></strong>?
      </div>
      <div class="modal-footer bg-dark ">
        <button type="button" class="btn btn-light btn-sm" id="delete_button">Proceed</button>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- add/edit feed Modal -->
<div class="modal fade" id="addfeedModal" tabindex="-1" role="dialog" aria-labelledby="addfeedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-primary">
            <div class="modal-header">
                <h5 class="modal-title" id="addfeedModalLabel">Add Feed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <form id="addfeed_form" -novalidate>
                <div class="modal-body bg-dark">
                    <input type="hidden" name="feedid" value="" id="input_feedid">
                    <div class="form-group">
                        <label for="feedname">Name</label><br>
                        <input type="text" class="form-control bg-dark border-darkish" id="feedname" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="form-group">
                        <label for="tag">Tag</label><br>
                        <input type="text" class="form-control bg-dark border-darkish" id="tag" placeholder="Tag" aria-label="Tag" aria-describedby="basic-addon1" required>
                        <label for="tag_colour">Tag colour:</label><br>
                        <input type="text" id="tag_colour" placeholder="Tag colour" value="" required>&nbsp;&nbsp;<span class="badge" id="example_badge" style="background-color: #0000DD">Example</span>
                    </div>
                    <div class="form-group">
                        <label for="feedurl">URL</label><br>
                        <input type="url"  id="feedurl" class="form-control bg-dark border-darkish" placeholder="URL" aria-label="URL" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="form-group">
                        <label for="feedupdate">Update frequency:</label><br>
                        <div class="input-group">
                        <input type="text" id="feedupdate" class="form-control bg-dark border-darkish" placeholder="Update frequency" aria-label="update_frequency" aria-describedby="basic-addon1" required>
                        <input type="text" id="update_h" class="form-control bg-secondary text-light border-darkish" placeholder="Update frequency" aria-label="update_frequency" aria-describedby="basic-addon1" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="feedcleanup">Cleanup frequency:</label><br>
                        <div class="input-group">
                        <input type="text" class="form-control bg-dark border-darkish" id="feedcleanup" placeholder="Cleanup frequency" aria-label="cleanup_frequency" aria-describedby="basic-addon1" required>
                        <input type="text" id="cleanup_h" class="form-control bg-secondary text-light border-darkish" placeholder="Cleanup frequency fancy" aria-label="cleanup_frequency_fancy" aria-describedby="basic-addon1" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="feedcategory">Category:</label><br>
                        <select id="feedcategory">
                        </select>
                    </div>
                    <div class="form-group">
                    </div>

                </div>
                <div class="modal-footer bg-dark">
                    <button type="submit" class="btn btn-light btn-sm"><span id="addfeedbuttontext">Add feed</span><span class="hidden" id="updatefeedbuttontext">Update</span></button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- add/edit feed Modal -->
<div class="modal fade" id="editcategoryModal" tabindex="-1" role="dialog" aria-labelledby="editcategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-primary">
            <div class="modal-header">
                <h5 class="modal-title" id="addfeedModalLabel">Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <form id="addcategory_form" -novalidate>

                <div class="modal-body bg-dark">
                    
                 <ul id="category_list">
                 </ul>
                 <div class="form-group">
                        <label for="category_name">Add category:</label<br>
                        <input type="text" class="form-control bg-dark border-darkish" id="category_name" placeholder="Category name" aria-label="Category name" aria-describedby="basic-addon1" >
                        <input type="hidden" id="category_id" value="">
                    </div>


                </ul>
                <div class="modal-footer bg-dark">
                    <button type="submit" class="btn btn-light btn-sm"><span id="addcategorybuttontext">Add category</span><span class="hidden" id="updatecategorybuttontext">Update</span></button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="alert_success_bar" class="hidden alert_bar alert_outer">
<div class="alert alert-success alert-dismissable fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="alert_success_text"></span>
</div>
</div>

<div id="alert_error_bar" class="hidden alert_bar alert_outer" >
<div class="alert alert-danger alert-dismissable fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="alert_error_text"></span>
</div>
</div>


<script>
var script_root = '{{ request.script_root }}';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>
